<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.flash').forEach(f => {
      setTimeout(() => {
        // fade out smoothly
        f.style.transition = 'opacity 0.5s ease, transform 0.5s ease';
        f.style.opacity = '0';
        //f.style.transform = '';
        // remove from DOM after the transition
        setTimeout(() => f.remove(), 500);
      }, 1500); // 3000ms = 3 seconds
  });
});
</script>
</body>

</html>